body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro tipo cómic */
    color: white;
    padding: 20px;
}

form {
    background: #4e4e4e;
    padding: 20px;
    border-radius: 10px;
    max-width: 450px;
    border: 2px solid #f1c40f; /* Color amarillo clásico de logo de cómic */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box; /* Para que no se salgan del cuadro */
}

button {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

button:hover {
    background-color: #c0392b;
}

/* Estilo para el WebComponent (Punto 3) */
item-comic {
    display: block;
    background: #fff;
    color: #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f1c40f;
}